tqdm==4.67.1
numpy==2.2.4
pandas==2.2.3
plotly==6.0.1
scipy==1.15.2
pymongo==4.11.3
orjson==3.10.16
yfinance==0.2.55
requests==2.32.3
streamlit==1.44.0
matplotlib==3.10.1
alpha-vantage==3.0.0
streamlit-router==0.1.8
beautifulsoup4==4.13.3
streamlit-js-eval==0.1.7
streamlit-javascript==0.1.5
extra_streamlit_components==0.1.71
