.stMainBlockContainer {
        padding-top: 4rem;
        max-width: 1400px;
}

/* Side Bar */
[data-testid="stMarkdownContainer"] > h1 {
    padding: 0;
    padding-bottom: 0.75rem;
}

.stPageLink {
    margin-top: 0.5rem;
}
[data-testid="stSidebarHeader"] {
    padding: 0.5rem 1.5rem 1.5rem;
}

/* Creator Container in Sidebar */
#creator-container {
    position: fixed;
    bottom: 20px;
    border-radius: 8px;
}

.code_block {
    padding: 0.2em 0.4em;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    margin: 0px;
    border-radius: 0.25rem;
    background: rgb(26, 28, 36);
    font-family: "Source Code Pro", monospace;
    font-size: 0.75em;
}

#creator-container img {
    vertical-align: middle;
    margin-right: 10px;
}

#creator-container a {
    text-decoration: none;
    color: inherit;
}

/* User ID Component */
.floating-user-id {
    z-index: 10000;
    position: fixed;
    bottom: 50px;
    right: 50px;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Table ToolBar */
.stElementToolbar {
    display: none;
}

/* Search Bar */




/* Main container styling */
.metric-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    max-width: 800px; /* Ensure it's not too wide on large screens */
    box-sizing: border-box;
}

/* Common styles for both call and put metrics */
.metric-call, .metric-put {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
    border-radius: 12px; /* Rounded corners for a modern feel */
    padding: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
    width: 100%;
    max-width: 800px;
}

/* Metric item (label + value) styling */
.metric-item {
    text-align: center;
    flex: 1 1 100px; /* Allow items to shrink but not go below 120px */
}

/* Metric value styling */
.metric-value {
    font-size: 1.6rem; /* Larger font for value */
    font-weight: 600; /* Semi-bold for emphasis */
    color: white; /* Dark color for the values */
    margin-top: 5px;
    line-height: 1.4;
}

/* Metric label styling */
.metric-label {
    font-size: 1.1rem; /* Slightly larger label */
    font-weight: 500; /* Medium weight for readability */
    color: light-grey; /* Lighter color for labels */
    margin-bottom: 10px;
}

/* Call and Put specific background colors */
.metric-call {
    background-color: green; /* Call: Green */
    color: white; /* White text for better contrast */
}

.metric-put {
    background-color: red; /* Put: Red */
    color: white; /* White text for better contrast */
}
